<?xml version="1.0" encoding="utf-8" ?>
<options
	enableDebug="y"
	sendReport="y"
	backupDistributionGroups="y"
	backupDynamicDistributionGroups="y"
	tenantName="Tenantname"
	toAddress="recipient1@domain.org,recipient2@domain.org"
	fromAddress="sender1@domain.com"
	enableHousekeeping="y"
	daysToKeep="15"
	notifyTeams=""
	teamsWebHook=""
/>
